<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263582937498-eieh3u639df7n5g8b9a58notpgn12bbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263582937498-eieh3u639df7n5g8b9a58notpgn12bbt</string>
	<key>API_KEY</key>
	<string>AIzaSyBDDZovcmgbGJIarwtAaq1T3YEtv7grEhg</string>
	<key>GCM_SENDER_ID</key>
	<string>263582937498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eslammadhoun.nectar</string>
	<key>PROJECT_ID</key>
	<string>cryptowin-4d5c8</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptowin-4d5c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263582937498:ios:63ddeb3462fdfd5f4eca23</string>
	<key>DATABASE_URL</key>
	<string>https://cryptowin-4d5c8-default-rtdb.firebaseio.com</string>
	<key>CFBundleURLTypes</key>
	<array>
	<dict>
		<key>CFBundleTypeRole</key>
		<string>Editor</string>
		<key>CFBundleURLSchemes</key>
		<array>
		<string>com.googleusercontent.apps.263582937498-eieh3u639df7n5g8b9a58notpgn12bbt</string>
		</array>
	</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
	<string>google</string>
	<string>com.googleusercontent.apps.263582937498-eieh3u639df7n5g8b9a58notpgn12bbt</string>
	</array>
</dict>
</plist>